@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* main colors */
  --main-color: #fff7f4;
  --accent-color: #f97206;

  /* neutral colors */
  --black: #000;
  --white: #fff;
  --orange: #ffa51b;
  --brown: #a66837;
  --blue: #4d7efe;
  --grey-400: #8b8b8b;
  --grey-800: #333;
  --grey-950: #1e1e1e;

  /* typography */
  --primary-font: "Roboto", sans-serif;
  --condensed-font: "Roboto Condensed", sans-serif;
  --flex-font: "Roboto Flex", sans-serif;
}
