{% extends 'base-registro-iniciarSesion-aggMascota.html' %}
{% load static i18n %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

<form class="form-login" method="POST">
    {% csrf_token %}
    <div class="field-group">
        <label for="email">{% translate "Correo" %}</label>
        <input type="email" id="email" name="email" placeholder="{% translate 'ej: nombre@gmail.com' %}" autocomplete="email" required />
    </div>

    <div class="field-group">
        <label for="password">{% translate "Contraseña" %}</label>
        <input type="password" id="password" name="password" placeholder="**********" autocomplete="current-password" required />
    </div>

    <div class="btn-submit-wrapper">
        <button type="submit" class="btn-login">{% translate "Iniciar Sesión" %}</button>
    </div>

    <div class="auth-links">
        <a href="#" class="auth-link">{% translate "¿Olvidaste tu contraseña?" %}</a>
        <a href="{% url 'registro' %}" class="auth-link">{% translate "No tienes cuenta? Regístrate" %}</a>
    </div>
</form>
{% endblock %}
